{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/programs is
 # requested, because it is located at programs/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
{% cache %}

	<h1>College Catalog</h1>
	<div class="row">
		<div class="col s12">
			{% for block in entry.contentMatrix %} 
				{% if block.type == "text" %}
					{{ block.bodyCopy }} 
				{% endif %}
			{% endfor %}  
			{{ craft.Adminbar.edit(entry, { devNote: myNote, }) }}
		</div>
	</div>
	<div class="row">
		<div class="col m4 sidebar-college-catalog-toc">
			<h5>Contents</h5>
			<ul>
			{% for entry in craft.entries.section('collegeCatalogEntries').find() %}
				{% if entry.level == "1" %}
				<li><a href="#jump{{ entry.id }}">{{ entry.title }}</a>
					{% if entry.hasDescendants %}
					{% set children1 = entry.getChildren() %}
						<ul>
							{% for entry in children1.find() %}
								{% if entry.level == "2" %}
									<li><a href="#jump{{ entry.id }}">{{ entry.title }}</a>
										{% if entry.hasDescendants %}
										{% set children2 = entry.getChildren() %}
											<ul>
												{% for entry in children2.find() %}
													<li><a href="#jump{{ entry.id }}">{{ entry.title }}</a></li> 
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				</li>
				{% endif %} 
			{% endfor %}
			</ul>
		</div>
		<div class="col m8" id="college-catalog">
			

	{% for entry in craft.entries.section('collegeCatalogEntries').find() %}
		<a name="jump{{ entry.id }}"></a>
		
		{% if entry.level == "1" %}{% set tag = "h3" %}{% endif %}
		{% if entry.level == "2" %}{% set tag = "h4" %}{% endif %}
		{% if entry.level == "3" %}{% set tag = "h5" %}{% endif %}
		<article>
			<{{ tag }}{% if loop.index == "1" %} class="first"{% endif %}>{{ entry.title }}</{{ tag }}> 

			{% for block in entry.contentMatrix %}

			    {% if block.type == "text" %}

			        {{ block.bodyCopy }} 

				{{ craft.Adminbar.edit(entry, { devNote: myNote, }) }}

			    {% elseif block.type == "insertImage" %}

			        {% set image = block.rightAlignedImage.first() %}
			        {% if image %}
			            <img src="{{ image.getUrl }}" width="{{ image.getWidth }}" height="{{ image.getHeight }}" alt="{{ image.title }}" class="right-aligned-image responsive-img">
			        {% endif %}

			    {% elseif block.type == "insertVideo" %}

			        {{ block.youtubeEmbed }}

			    {% endif %}

			{% endfor %}



		</article>
	{% endfor %}
		</div>
	</div>
	{% endcache %}
{% endblock %}
