{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Yrsa" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cardo:400,700,400italic' rel='stylesheet' type='text/css'>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import minimized css--> 
	<link type="text/css" rel="stylesheet" href="/assets/css/main.min.css"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
	
</head>

<body> 

	<header>
		<nav class="top-nav"> 
			<div class="container">
			<a href="{{ siteUrl }}" class="brand-logo left"><img src="/assets/images/logo.png" alt="{{ siteName }}"></a> 
			<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li {% if craft.request.firstSegment == '/' %}class="active"{% endif %}><a href="{{ url('/') }}">Home</a></li>
				<li {% if craft.request.firstSegment == 'programs' %}class="active"{% endif %}><a href="{{ url('programs') }}">Programs</a></li>
				<li {% if craft.request.firstSegment == 'admissions' %}class="active"{% endif %}><a href="{{ url('admissions') }}">Admissions</a></li>
				<li {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}><a href="{{ url('about') }}">About</a></li>
				<li {% if craft.request.firstSegment == 'contact-us' %}class="active"{% endif %}><a href="{{ url('contact-us') }}">Contact Us</a></li>
			</ul>
			</div> 
			<ul class="side-nav" id="mobile-demo">
				<li {% if craft.request.firstSegment == '/' %}class="active"{% endif %}><a href="{{ url('/') }}">Home</a></li>
				<li {% if craft.request.firstSegment == 'programs' %}class="active"{% endif %}><a href="{{ url('programs') }}">Programs</a>
					<ul>
						<li><a {% if craft.request.lastSegment == 'diploma-and-certificate' %}class="active" {% endif %} href="/programs/diploma-and-certificate">Diploma and Certificate</a></li>
						<li><a {% if craft.request.lastSegment == 'associate-degree' %}class="active" {% endif %} href="/programs/associate-degree">Associate Degree</a></li> 
						{% for entry in craft.entries.section('programs').find() %}
							<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
						{% endfor %}
					</ul>





				</li>
				<li {% if craft.request.firstSegment == 'admissions' %}class="active"{% endif %}><a href="{{ url('admissions') }}">Admissions</a>
				    <ul>
						<li><a {% if craft.request.lastSegment == 'calendar' %}class="active" {% endif %} href="/admissions/calendar">Calendar</a></li>
						<li><a {% if craft.request.lastSegment == 'college-catalog' %}class="active" {% endif %} href="/admissions/college-catalog">College Catalog</a></li>
						<li><a {% if craft.request.lastSegment == 'fees' %}class="active" {% endif %} href="/admissions/fees">Fees</a></li>
						<li><a {% if craft.request.lastSegment == 'enrollment-steps' %}class="active" {% endif %} href="/admissions/enrollment-steps">Enrollment</a></li>
						<li><a {% if craft.request.lastSegment == 'financial-aid' %}class="active" {% endif %} href="/admissions/financial-aid">Financial Aid</a></li>
					</ul> 
				</li>
				<li {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}><a href="{{ url('about') }}">About</a></li>
				<li {% if craft.request.firstSegment == 'contact-us' %}class="active"{% endif %}><a href="{{ url('contact-us') }}">Contact Us</a></li>
			</ul>
		</nav> 
	</header> 


	<div class="container"> 
	 	<div class="row relative">


			{% if craft.request.firstSegment == 'admissions' %} 
		    <nav class="col s12 sub-nav">
				<ul class="right">
					<li><a {% if craft.request.lastSegment == 'calendar' %}class="active" {% endif %} href="/admissions/calendar">Calendar</a></li>
					<li><a {% if craft.request.lastSegment == 'college-catalog' %}class="active" {% endif %} href="/admissions/college-catalog">College Catalog</a></li>
					<li><a {% if craft.request.lastSegment == 'fees' %}class="active" {% endif %} href="/admissions/fees">Fees</a></li>
					<li><a {% if craft.request.lastSegment == 'enrollment-steps' %}class="active" {% endif %} href="/admissions/enrollment-steps">Enrollment</a></li>
					<li><a {% if craft.request.lastSegment == 'financial-aid' %}class="active" {% endif %} href="/admissions/financial-aid">Financial Aid</a></li>
				</ul>
			</nav> 
			{% endif %}
			{% if craft.request.firstSegment == 'programs' %} 
		    <nav class="col s12 sub-nav">
				<ul class="right">
					<li><a {% if craft.request.lastSegment == 'diploma-and-certificate' %}class="active" {% endif %} href="/programs/diploma-and-certificate">Diploma and Certificate</a></li>
					<li><a {% if craft.request.lastSegment == 'associate-degree' %}class="active" {% endif %} href="/programs/associate-degree">Associate Degree</a></li> 
				</ul>
			</nav> 
			{% endif %}



			
			<main id="content" role="main" class="col s12 content-top">
				{% block content %}
					<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
					<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
				{% endblock %}
				{% set myNote %}{% spaceless %}
				  {% if loop.last %}
				    <p>The last entry always stays full width, even in the 2-column layout. See the <a href="{{ url('style-guide') }}">Style Guide</a> for layout examples.</p>
				  {% endif %}
				{% endspaceless %}{% endset %}

				{{ craft.Adminbar.edit(entry, {
				  devNote: myNote,
				}) }}
			</main>

	 	</div>
	</div>
	<footer id="footer" class="col s12">
		<div class="container">
			Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved &nbsp;&bull;&nbsp; Moore Tech
		</div>
	</footer>




	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/assets/node_modules/materialize-css/dist/js/materialize.min.js"></script>
	<script>
	$( document ).ready(function(){
    	$('.carousel.carousel-slider').carousel({full_width: true});
		$(".button-collapse").sideNav();

    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  
	});
	</script>
</body>
</html>
