{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

 {% set mobile = {
    mode: 'fit',
    width: 1000, 
    quality: 75, 
} %}


<style> 
{% set sizes = ['1200', '1400', '1600', '1800', '2000', '2500', '3000', '3500'] %}
{% set image = entry.featureImage.first() %}
 {% set mobile = {
    mode: 'fit',
    width: 1200, 
    quality: 80, 
} %}
#homepage-feature { background-image: url('{{ image.getUrl(mobile) }}'); }

{% for breakpoints in sizes %}

 {% set mobile = {
    mode: 'fit',
    width: breakpoints, 
    quality: 80, 
} %}

@media (min-width: {{ breakpoints }}px) { #homepage-feature { background-image: url('{{ image.getUrl(mobile) }}'); } } 

{% endfor %}

</style>


 

</main></div></div>
<div id="homepage-feature">
	<div class="container">
		<div class="row">
			<div class="col s12 m9 l6">
				<h1>{{ entry.title }}</h1> 
				<p>{{ entry.body }}</p>
				<h2>{{ entry.shorterDescription }}</h2>
				<p><a class="btn" href="{{ entry.homePageCallToActionUrl }}">{{ entry.homepageCallToActionText }}</a></p>
			</div> 
		</div>
	</div>
</div>
<div class="row"></div><div class="container"><main id="content" role="main" class="col s12 homepage-program-grid">

		<div class="row">
			<h1 class="center">BECOME A PROFESSIONAL IN:</h1>
			{% for entry in craft.entries.section('programs').find() %}
				<div class="col m6 l4">
					<div class="card hoverable">
						<a href="{{ entry.url }}">
							<div class="card-image">
								{% set image = entry.thumbnail.first() %}
								{% if image %}
									<img src="{{ image.getUrl }}" width="{{ image.getWidth }}" height="{{ image.getHeight }}" alt="{{ entry.title }}" class="responsive-img circle">
								{% endif %}
								<span class="card-title"><span class="bg">{{ entry.title }}</span></span>
							</div> 
						</a>
					 </div>
				</div> 
			{% endfor %} 
		</div>

	<div class="row">
		<div class="col m12"> 
			<p class="messaging-system-cta"><a href="/documents/moore-tech-notification-messaging-system">
				<span class="messaging-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z"/></svg>
				</span>
				All Students, Staff, and Faculty need to sign up for the Moore Tech Notification Messaging System.</a>
			</p>			
		</div>
	</div>

	<h2 class="center">Programs for the {{ upcomingSchoolYear.schoolYear }} school year:</h2> 

	<table class="responsive-table bordered programs">
		<thead>
			<tr> 
				<th nowrap data-field="program">Program</th>
				<th data-field="related_occupations">Related<br>Occupations</th>
				<th nowrap data-field="soc_code">SOC Code</th>
				<th nowrap data-field="placement">Placement</th> 
			</tr>
		</thead>
		<tbody>
			{% for entry in craft.entries.section('programs').limit(20).find() %}

				<tr> 
					<td><strong><a href="{{ entry.url }}">{{ entry.title }}</a></strong></td>
					<td>
						{% set tags = entry.relatedOccupations %}
						{% if tags | length %} 
							{% for tag in tags %}
								<div class="chip">{{ tag }}</div>
							{% endfor %}
						{% endif %}
					</td>
					<td nowrap>{{ entry.socCode }}</td>
					<td class="right">{{ entry.placementPercentage }}% </td> 

				</tr>
			{% endfor %}
		</tbody>
	</table>

<!-- <div class="lyr lyr-materialize-red"></div>
<div class="lyr lyr-red"></div>
<div class="lyr lyr-pink"></div>
<div class="lyr lyr-purple"></div>
<div class="lyr lyr-deep-purple"></div>
<div class="lyr lyr-indigo"></div>
<div class="lyr lyr-blue"></div>
<div class="lyr lyr-light-blue"></div>
<div class="lyr lyr-cyan"></div>
<div class="lyr lyr-teal"></div>
<div class="lyr lyr-green"></div>
<div class="lyr lyr-light-green"></div>
<div class="lyr lyr-lime"></div>
<div class="lyr lyr-yellow"></div>
<div class="lyr lyr-amber"></div>
<div class="lyr lyr-orange"></div>
<div class="lyr lyr-deep-orange"></div>
<div class="lyr lyr-brown"></div>
<div class="lyr lyr-blue-grey"></div>
<div class="lyr lyr-grey"></div>
<div class="lyr lyr-shade"></div>
 -->
  


{% endblock %}
